html {
	scroll-behavior: smooth; 
 }

body {
	background: #000000;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	color: #ffffff;
}

.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
 }

 .nav-list {
	list-style: none;
	display: flex;
	flex-direction: row;
 }

 .nav-link {
	padding: 0 20px;
	line-height: 50px;
	transition: .3s;
 }
 .header-container {
	background: url('./assets/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center -0px;
	height: 90px;
 }
 .hero-container {
	background-image: url('./assets/img/bg.jpg');
	background-position: center -90px;
	background-repeat: no-repeat;
	height: 910px;
	position: relative;
	display: flex;
 }
.hero-content{
width: 500px;
position: absolute;
height: 330px;
left: 5.56%;
right: 59.72%;
top: 160px;
}
.hero-content p, .btn{
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 40px;
	
}
h1{
	font-family: 'Merriweather', serif;
	line-height: 120px;
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 10px;
}

.btn{
	position: absolute;
height: 55px;
width:220px;
left: 0%;
right: 56%;
top: 275px;
background: #BDAE82;
}