html {
	scroll-behavior: smooth; 
 }

body {
	background: #000000;
}

.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
 }

 .nav-list {
	list-style: none;
	display: flex;
	flex-direction: row;
 }

 .nav-link {
	padding: 0 20px;
	line-height: 50px;
	transition: .3s;
 }
 .header-container {
	background: url('./assets/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center -0px;
	height: 90px;
 }
 .hero-container {
	background-image: url('./assets/img/bg.jpg');
	background-position: center -90px;
	background-repeat: no-repeat;
	height: 910px;
	position: relative;
	display: flex;
 }
.hero-content{
width: 500px;
height: 330px;
}

